<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Finanzas Vaya Valla</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  <header>
    <!-- Barra de navegación -->
    <a href="https://vayapublicidad.com/" target="_blank"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></a>
    <nav>
      <ul>
          <li><a href="{{ url_for('index') }}">Inicio</a></li>
          <li><a href="{{ url_for('movimientos') }}">Movimientos</a></li>
          <li><a href="{{ url_for('trabajos') }}">Trabajos</a></li>
      </ul>
    </nav>
  </header>
  <h1>Finanzas Vaya Valla</h1>

  <!-- Formulario de ingreso -->
  <form id="formulario">
    <div class="form-row">
      <label>Tipo:
        <select id="tipo">
          <option value="ingreso">Ingreso</option>
          <option value="egreso">Egreso</option>
        </select>
      </label>
      <label>Descripción:
        <input type="text" id="descripcion">
      </label>
      <label>Cliente:
        <input type="text" id="cliente">
      </label>
      <label>Fecha:
        <input type="text" id="fecha">
      </label>
      <label>Mes:
        <select id="mes">
          <option value="Enero">Enero</option>
          <option value="Febrero">Febrero</option>
          <option value="Marzo">Marzo</option>
          <option value="Abril">Abril</option>
          <option value="Mayo">Mayo</option>
          <option value="Junio">Junio</option>
          <option value="Julio">Julio</option>
          <option value="Agosto">Agosto</option>
          <option value="Septiembre">Septiembre</option>
          <option value="Octubre">Octubre</option>
          <option value="Noviembre">Noviembre</option>
          <option value="Diciembre">Diciembre</option>
        </select>
      </label>
      <label>Año:
        <select id="año">
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
        </select>
      </label>
      <label>Monto:
        <input type="number" id="monto" step="0.01">
      </label>
      <button type="submit" class="check-button">&#10003;</button>
    </div>
  </form>

<script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>

</body>
</html>
